* {
    margin: 0;
    padding: 0;
    outline: none;

}
img {
    border: none;
}
a {
    /*color: #ffe71a;*/
    text-decoration: none;
    color: #3d8400;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}

hr {
    margin: 23px 0px 15px;
    background: #B6B6B6;
    height: 2px;
    border: none;
    border-bottom: 1px solid #fff;
}

hr.dashed {
    margin: 23px 0px 15px;
    background: transparent;
    height: 2px;
    border: none;
    border-bottom: 1px dashed #B6B6B6;
}

h1 {
    font-size: 24px;
    color: #000;
    margin-bottom: 30px !important;
    font-family: Verdana, sans-serif;
    font-weight: normal;
}

h2 {
    font-size: 20px;
    color: #000;
    margin: 36px 0px 12px;
    font-family: Verdana, sans-serif;
    font-weight: normal;
}

h3 {
    font-size: 14px;
    color: #000;
    margin: 32px 0px 12px !important;
    font-family: Verdana, sans-serif;
    font-weight: bold;
}

h4 {
    font-size: 12px;
    color: #000;
    margin: 30px 0px 15px !important;
    font-family: Verdana, sans-serif;
    font-weight: bold;
}

body {
    margin: 0px;
    font-family: "Arial", sans-serif;
    font-size: 11px;
    background: url("../images/body-bg.png") repeat-x #fff;
    color: #000;
    line-height: 1;
}

#outer-wrapper {
/*         background: url("../images/top-bg@1.jpg") no-repeat scroll top center; */
    
    }

@media (min-width: 768px) {
    #outer-wrapper {
        background: url("../images/top-bg.jpg") no-repeat scroll top center;
    }
}    
    

@media (min-width: 1013px) {
    
#outer-wrapper .top-line {
    background: url("../images/header-bg.png") repeat-x;
    left: 0px;
    top: 0px;
    height: 89px;
    width: 100%;
    position: absolute;
}
}

#inner-wrapper {
    /*background: url("../images/footer-bg.jpg") no-repeat scroll bottom center;*/

    min-height: 682px;
}

#wrapper.full {
    position: relative;
    overflow: hidden;
/*     width: 1391px; */
    margin: auto;
}

#header {
/*     height: 454px; */
    position: relative;
    color: #fff;
    /*width: 1391px;*/
/*     width: 1012px; */
    margin: auto;
/* background: url("../images/top-bg@1.jpg") no-repeat scroll bottom 10%; */
}
#inner-header {
/*     width: 1001px; */
   
    position: relative;
    margin: auto;
    background: url("../images/top-bg@1.jpg") no-repeat scroll 50% 50%;
    background-size: cover;
}
#content {
    position: relative;
    overflow: hidden;
    min-height: 50px;
    /*padding-bottom: 100px;*/
/*     padding-top: 10px; */
    font-family: Verdana, sans-serif;
/*     width: 1007px; */
    margin: auto;

}
#wrapper.full #content {
    width: 1391px;
}
#content .content {
    position: relative;
line-height: 1.7;
}
/*#content .content p {*/
    /*text-align: justify;    */
/*}*/
#content .content a {
    text-decoration: underline;
}

#content .content a:hover {
    color: #ff0000;    
}

#content .content ol {
    list-style: decimal;
    padding-left: 17px;
}

#content .content ol li {
    padding-left: 20px;
    margin-bottom: 9px;
}

#content .content ul {
    list-style: square;
    padding-left: 14px;
}

#content .content ul li {
    padding-left: 23px;
    margin-bottom: 12px;
}

#content .content dl {
    position: relative;
    overflow: hidden;
    font-size: 11px;
    line-height: 18px;
}

#content .content dl dt {
    clear: left;
    float: left;
    color: #3d8400;
    width: 125px;
    margin-right: 15px;
    margin-bottom: 15px;
}

#content .content dl dd {
    float: left;
    width: 140px;
    margin-bottom: 15px;
}

#content .content dl dd ul {
    list-style: none;
    padding: 0px;
}

#content .content dl dd ul li {
    padding: 0px;
}
#content {
    font-size: 12px;
   line-height: 20px;
}

#content p {
    display: none;
}

@media (min-width: 1013px) {
    
#content p {
     margin-bottom: 11px;
    text-align: justify;
}
    
}

/*#content p:first-letter {*/
    /*padding-left: 7px;    */
/*}*/

#footer {
    background: url("../images/footer-repeat-bg.png") repeat;
    position: relative;
    overflow: hidden;
    color: #fff;
    width: 100%;
    margin: auto;
}
#footer .footer-outer-wrapper {
    background: url("../images/footer-bottom-bg.png") repeat-x left bottom;
    position: relative;
    overflow: hidden;
    width: 100%;
}
#footer .footer-wrapper {
    background: url("../images/footer-top-bg.png") repeat-x left top;
    position: relative;
    overflow: hidden;
    width: 100%;
}

#footer .footer-inner {
    height: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
/*     width: 983px; */
    width: 100%;
/*     padding-bottom: 45px; */

}
}

@media (min-width: 1013px) {
    #outer-wrapper {
    background: url("../images/top-bg.jpg") no-repeat scroll top center;
}

#outer-wrapper .top-line {
    background: url("../images/header-bg.png") repeat-x;
    left: 0px;
    top: 0px;
    height: 89px;
    width: 100%;
    position: absolute;
}

#inner-wrapper {
    /*background: url("../images/footer-bg.jpg") no-repeat scroll bottom center;*/

    min-height: 682px;
}

#wrapper.full {
    position: relative;
    overflow: hidden;
    width: 1391px;
    margin: auto;
}

#header {
    height: 454px;
    position: relative;
    color: #fff;
    /*width: 1391px;*/
    width: 1012px;
    margin: auto;
}
#inner-header {
    width: 1001px;
    position: relative;
    margin: auto;
    background: transparent;
}
#content {
    position: relative;
    overflow: hidden;
    min-height: 50px;
    /*padding-bottom: 100px;*/
    padding-top: 10px;
    font-family: Verdana, sans-serif;
    width: 1007px;
    margin: auto;

}
#wrapper.full #content {
    width: 1391px;
}
#content .content {
    position: relative;
line-height: 1.7;
}
/*#content .content p {*/
    /*text-align: justify;    */
/*}*/
#content .content a {
    text-decoration: underline;
}

#content .content a:hover {
    color: #ff0000;    
}

#content .content ol {
    list-style: decimal;
    padding-left: 17px;
}

#content .content ol li {
    padding-left: 20px;
    margin-bottom: 9px;
}

#content .content ul {
    list-style: square;
    padding-left: 14px;
}

#content .content ul li {
    padding-left: 23px;
    margin-bottom: 12px;
}

#content .content dl {
    position: relative;
    overflow: hidden;
    font-size: 11px;
    line-height: 18px;
}

#content .content dl dt {
    clear: left;
    float: left;
    color: #3d8400;
    width: 125px;
    margin-right: 15px;
    margin-bottom: 15px;
}

#content .content dl dd {
    float: left;
    width: 140px;
    margin-bottom: 15px;
}

#content .content dl dd ul {
    list-style: none;
    padding: 0px;
}

#content .content dl dd ul li {
    padding: 0px;
}
#content {
    font-size: 12px;
   line-height: 20px;
}
#content p {
     margin-bottom: 11px;
    text-align: justify;
}

/*#content p:first-letter {*/
    /*padding-left: 7px;    */
/*}*/

#footer {
    background: url("../images/footer-repeat-bg.png") repeat;
    position: relative;
    overflow: hidden;
    color: #fff;
    width: 100%;
    margin: auto;
}
#footer .footer-outer-wrapper {
    background: url("../images/footer-bottom-bg.png") repeat-x left bottom;
    position: relative;
    overflow: hidden;
    width: 100%;
}
#footer .footer-wrapper {
    background: url("../images/footer-top-bg.png") repeat-x left top;
    position: relative;
    overflow: hidden;
    width: 100%;
}
#footer .footer-inner {
    height: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
    width: 983px;
    padding-bottom: 45px;

}
}


