.page-header {
  background: url("../images/top-bg@1.jpg") no-repeat scroll top center;
  background-clip: content-box;

   .media(tablet; {
    background: url("../images/top-bg.jpg") no-repeat scroll top center;
    background-size: contain;
    background-repeat: repeat-x;
  });

   .media(desktop; {
    margin-bottom: 25px;
    height: 454px;
        background-size: auto;

  });
}


